{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PerformaAI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="header">PerformaAI</div>

    <div class="form-container">
      <h1 class="mb-4">Importe seu arquivo!</h1>
      <form method="post" enctype="multipart/form-data" action="{% url 'ia_import_save' %}" id="uploadForm">
        {% csrf_token %}
        <div class="form-group">
          <label for="arq_upload" class="btn btn-secondary btn-lg">Buscar arquivo</label>
          <input type="file" id="arq_upload" class="d-none" name="arq_upload" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submeter</button>
      </form>
    </div>

    <div id="customAlert" class="custom-alert">Arquivo selecionado com sucesso!</div>

    <div id="customAlertRed" class="custom-alert-red">Nenhum arquivo selecionado!</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      const fileInput = document.getElementById('arq_upload')
      const uploadForm = document.getElementById('uploadForm')
      const customAlert = document.getElementById('customAlert')
      const customAlertRed = document.getElementById('customAlertRed')
      
      fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) {
          customAlert.classList.add('show-alert')
          setTimeout(() => {
            customAlert.classList.remove('show-alert')
          }, 3000)
        }
      })
      
      uploadForm.addEventListener('submit', function (event) {
        if (fileInput.files.length === 0) {
          event.preventDefault() // Impede o envio do formulário
          customAlertRed.classList.add('show-alert')
          setTimeout(() => {
            customAlertRed.classList.remove('show-alert')
          }, 3000)
        }
      })
    </script>
  </body>
</html>
