{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curva Precision-Recall</title>
    <link rel="stylesheet" href="{% static 'css/recall.css' %}" />
  </head>

  <body>
    <div class="header">
      <h1>Curva Precision-Recall do Modelo KNN</h1>

      <div class="button-container">
        <div class="button-wrapper">
          <a href="{% url 'ia_import' %}" class="custom-button">Home</a>
        </div>
        <div class="button-wrapper">
          <a href="{% url 'ia_knn_matriz' %}" class="custom-button">Modelo Matriz</a>
        </div>
        <div class="button-wrapper">
          <a href="{% url 'ia_knn_roc' %}" class="custom-button">Modelo ROC</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="text-center">{{ graph|safe }}</div>
    </div>
  </body>
</html>
