{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% bootstrap_css %}
  </head>
  <body>
    <div class="login-container">
      <h2 class="text-center">Login</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
    {% bootstrap_javascript %}
  </body>
</html>
