body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  zoom: 0.9;
}



.header {
  background-color: rgba(242, 179, 90, 0.85);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  margin-top: 155px;
}

.table-container {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #d49202;
  color: white;
  font-weight: bold;
  border-top: none;
  transition: background-color 0.3s ease;
}

.table th:hover {
  background-color: #101f6f;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table-striped tbody tr {
  background-color: rgb(242, 237, 237);
}

.table-hover tbody tr:hover {
  background-color: rgb(241, 182, 98);
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.table td {
  vertical-align: middle;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 2px;
}

.pagination .page-item.active .page-link {
  background-color: #e7ae4c;
  border-color: #101f6f;
}

.pagination .page-link {
  color: #101f6f;
}

.pagination .page-link:hover {
  color: #101f6f;
}